html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFDE09;
  color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text {
  font-size: 35px;
  transform: translateY(-225%);
}

#avatar {
  transform: translateY(-15%);
}

[id='toggle-heart'] {
  display: none;
  position: absolute;
  left: -100vw;
}

[id='toggle-heart']:checked + label {
    display: none;
        color: #e2264d;
        will-change: font-size;
        animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
    }
}

[for='toggle-heart'] {
  display:none;
    align-self: center;
    color: #aab8c2;
    font-size: 2em;
    cursor: pointer;
}

@keyframes heart {
    0%, 15% { font-size: 0; }
}
