body, html {
  margin: 0px;
  padding: 0;
  background-color: #FFDE09;
  color: white;
  background-size: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text {
  font-size: 35px;
  transform: translateY(225%);
}

#avatar {
  transform: translateY(35%);
}

/* beginning of css code from https://stackoverflow.com/questions/34762009/pulsing-heart-css-animation that sets up pulsing heart animation, which can be seen on this extension/site when you type "sad", "depressed", or "hurt" in the omnibox */
.sad #heart-img {
  display: none;
  margin-top: -150px;
  margin-left: 5px;
  width: 100px;
  transform: translateX(100%);
}

.sad #heart-img:hover {
  cursor: pointer;
  width: 200px;
}

@keyframes heartFadeInOut {
  0% {
    transform: scale(.5);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(.5);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(.5);
  }

  100% {
    transform: scale(.5);
  }
}

#heart img.bottom {
  animation-name: heartFadeInOut;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
}
/* end of borrowed code */

#cheerup-note {
  display: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transform: translateY(350%);
  text-shadow: 1px 1px 2px black;
}

.bored #insta {
  display: none;
  transform: translateY(35%);
  width: 500px;
  height: 500px;
}

.fine #cam {
  display: none;
  transform: translateY(25%);
  width: 500px;
  height: 500px;
}

.fine #camButton {
  background: white;
  display: none;
  padding: 6px 14px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #07a;
  font-size: 15px;
  transform: translate(114%, 120%);
}

.fine #camButton small {
  font-size: 12px;
  color: black;
}

.fine #camPhoto {
  transform: translateY(15%);
  display: none;
}

.fine #cam-note {
  display: none;
  font-size: 20px;
  color: white;
  text-align: center;
  transform: translateY(-25%);
}

.happy #fireworks {
  display: none;
  cursor: crosshair;
  margin-top: -500px;
}

.happy #drag-note {
  display: none;
  font-size: 18px;
  color: white;
  text-align: center;
  transform: translateY(-75%);
}

#link {
  display: none;
  font-size: 20px;
  color: white;
  transform: translateY(550%);
}
